.container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: flex-start; 
}

.form-col {
    flex: 1;
    max-width: calc(33.33% - 10px); 
    margin-right: 10px; 
    margin-bottom: 10px; 
}

label {
    width: auto;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    width: 100%; 
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

h1{
    text-align: center;
}
